.wrapper {
  width: 100%;
}

.tabs {
  width: 100%;
}

.wrapper :global(.ant-tabs) {
  width: 100%;
}

.wrapper :global(.ant-tabs-nav) {
  margin: 0;
  padding: 0 6px;
  width: 100%;
}

.wrapper :global(.ant-tabs-nav-wrap) {
  overflow-x: auto;
  overflow-y: hidden;
  flex: 1;
  min-width: 0;
}

.wrapper :global(.ant-tabs-nav-list) {
  flex-wrap: nowrap;
}

.wrapper :global(.ant-tabs-tab) {
  padding: 6px 10px;
  white-space: nowrap;
}
